html  {
  background-color: #dedede;
}

div {
  border-radius: 5px;
}

#intro  {
  margin: auto;
  position: relative;
  height: 200px;
  width: 97.5%;
  background-color: #00ff00;
}

h1  {
  font-family: Arial;
  color: #000000;
  text-align: center;
  padding-top: 10px;
}

#intro p  {
  font-family: Arial;
  font-size: 16px;
  padding-left: 7px;
}

#idk  {
  margin: auto;
  position: relative;
  height: 800px;
  width: 97.5%;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #efefef;
}

img {
  height: 200px;
  width: 360px;
}

.button {
  display: block;
  height: 45px;
  width: 90px;
  background-color: #00ff00;
  position: relative;
}

#next {
  margin-left: 270px;
}

#back {
  margin-left: 175px;
  margin-top: -27px;
}

.button:hover {
  background-color: #00d300;
}

.button a p {
  padding-top: 12px;
  padding-bottom: 14px;
  margin: auto;
}

#btn1, #btn2  {
  text-decoration: none;
  text-align: center;
  font-family: Arial;
}

a:hover {
  font-weight: bold;
  color: #ffffff;
}



