$green-color: #00ff00;
$light-green: lighten($green-color, 40%);

html  {
  background: #dedede;
}

div {
  border-radius: 5px;
}

#intro  {
  position: relative;
  height: 200px;
  width: 97.5%;
  background-color: #00ff00;
}

h1  {
  color: #000000;
  text-align: center;
  padding-top: 10px;
}

#idk  {
  position: relative;
  height: 800px;
  width: 97.5%;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #e1e1e1;
  clear: both;
}

img {
  height: 200px;
  width: 360px;
}

#nxtbtn:hover  {
  background-color: #0000aa;
}

.next {
  height: 45px;
  width: 90px;
  background-color: #00ff00;
  position: relative;
  margin-left: 370px;
  clear: right;

  &:hover {
    background-color: $light-green;
  }
}
